body {
}
p {
    margin: 5px;
}
.ui-button {
    bottom : 0;
    position: relative;

}
.slider-cell {
    width: 50%;
}
.slider {
    width: 100%;
    float: right;
    margin: 10px;
}
.legend-header {
    font-weight: bold;
}
.menu-legend {
    padding: 5px;
}
.score{
   margin-left: 15px;
}
.menu-text {
    font-size: 80%;
}
.marked {
    color: dimgray !important;
    background-color: #b4b4b4;
}
.fa{
    color: black;
}
.slider-value-cell {
    padding: 10px;
}
.date {
    text-align: center;
    padding-bottom: 14px;
    font-weight: bold;
}
.header {
    padding: 14px;
    font-size: 70px;
    font-weight: bold;
}

#chooseScenario {
    padding-right: 45px;
}

#information {
    width: 60%;
    margin-top: 35px;
    border:dotted;
    padding: 15px;
    
}

#welcomeText {
    padding: 20px;
}

#restart {
    margin-bottom: 12px;
    padding: 3px;
    margin-left: 30px;
}
.selector-label {
    padding-right: 15px;
}

#result.ui-dialog-content{
 width: 1050px;
 overflow: scroll;   
}
#scoreChartDiv{
    display: inline-block;
}
#environChartDiv {
    /*border: 3px solid black;*/
    display: inline-block;
}
#financialChartDiv {
    /*border: 3px solid black;*/
    display: inline-block;
}
#socialChartDiv {
    /*border: 3px solid black;*/
    display: inline-block;
    clear: both;
}
.link {
    text-decoration: underline;
}

* { 
    font-size: 1.8vw;
}
@media (min-width: 1000px){/*when window size is more than 1000 font size stays constant at 18px*/
    * {
        font-size:18px;
    }
}
@media (max-width: 600px){/*when window size is less than 600 font size stays constant at 10.8px*/
    * {
        font-size:10.8px;
    }

}

@media (max-width: 1000px){/*when window size is less than 600 font size stays constant at 10.8px*/
    #month {
        visibility:hidden;
    }
        #year {
        visibility:hidden;
    }
}

