body {
}
.ui-button {
    bottom : 0;
    position: relative;

}
.slider-cell {
    width: 50%;
}
.slider {
    width: 100%;
    float: right;
    margin: 10px;
}
.legend-header {
    font-weight: bold;
}
.menu-legend {day
    padding: 5px;
}
.score{
   margin-left: 15px;
}
.menu-text {
    font-size: 80%;
}
.marked {
    color: black !important;
}
.fa{
    color: dimgray;
}
.slider-value-cell {
    padding: 10px;
    min-width: 60px;
}
.date {
    text-align: center;
    font-size: 1.3vw;
    padding-left: 15px;
    padding-bottom: 14px;
    font-weight: bold;
}
#month {
    min-width:8vw;
}

#day {
    min-width: 4vw;
}
#mainDiv {
    min-width: 1100px;
}
.header {
    padding: 14px;
    font-size: 70px;
    font-weight: bold;
}

#chooseScenario {
    padding-right: 45px;
}

#information {
    width: 60%;
    margin-top: 35px;
    border:dotted;
    padding: 15px;
}

#welcomeText {
    padding: 20px;
}

#restart {
    margin-bottom: 12px;
    padding: 3px;
    margin-left: 30px;
}
.selector-label {
    padding-right: 15px;
}
